@font-face {
    font-family: TechMono;
    src: url(ShareTechMono-Regular.ttf) format("opentype");
}

body {
    background: #111;
    overflow-y: hidden;
    height: 100%;
}

#wrapper {
    max-width: 60%;
    min-width: 620px;
    margin: 45vh auto;
    display: grid;
    gap: 5px;
}

form {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto 100px;
    grid-template-rows: auto 40px 40px;
    gap: 5px;

}

#input-text {
    grid-row: 1 / -1;
}

.input-fields {
    border: 2px solid #247724;
    background-color: rgba(0, 0, 0, 0);
    font-family: TechMono, Monospace;
    font-size: 1.35em;
    text-transform: uppercase;
    color: #247724;
    padding: 5px;
}

#input-key {
	font-size: 1em;
	min-height: 30px;
}

.btn {
	background-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	font-family: TechMono, Monospace;
    text-align: center;
	text-decoration: none;
}

#btn-code {
    border: 2px solid #247724;
    color: #247724;
}

#btn-decode {
    border: 2px solid #CC3300;
    color: #CC3300
}

#btn-decode:hover {
	background-color: #761C1A;
}

#btn-code:hover {
	background-color: #004f00;
}

#btn-crack {
    border: 2px solid #CC3300;
    color: #CC3300;
    grid-row: 1 / -1;
}

#btn-crack:hover {
	background-color: #761C1A;
}

textarea {
    resize: none;
}

::-moz-placeholder {
   color: #247724;
}

#input-key::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;
}

.result {
    border: 2px solid #CC3300;
    color: #CC3300;
    font-family: TechMono, Monospace;
    font-size: 1.35em;
    padding: 5px;
}

input[type=number] {
  -moz-appearance: textfield;
}

@media (max-width: 414px) {
    #wrapper {
        margin: 0;
        gap: 10px;
    }

    form {
        width: 95%;
        grid-template-columns: 100%;
        grid-template-rows: 40vh 60px 60px 60px;
        gap: 10px;
    }

    #input-text {
        grid-row: 1 / 2;
    }

    #input-key {
        font-size: 1.35em;
    }

    .result {
        margin-left: 15px;
        margin-right: 15px;
    }

    #btn-code, #btn-decode {
        font-size: 1.35em;
    }

    #btn-crack {
        grid-row: 2 / -1;
        font-size: 2em;
    }
}